<div class="container footer-set" style="height: 440px">
<div class="card-product col-6">
        <% if user_signed_in? && current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, gravity: :face, crop: :thumb, class: "avatar-large"%>
      <% end %>


<div class="card-product-infos">
    <h3>Your Profile</h3>
    <h2><%= current_user.first_name %><%= current_user.last_name %></h2>
    <p><%= current_user.email %></p>
    <p><%= current_user.postcode %></p>
  </div>
</div>
</div>
