<div class="container">
  <h3 class="text-center pt-3">Transaction confirmed!</h3>

  <div class="d-inline-flex flex-row justify-content-around" style="height:500px">



<!-- SELLER INFO -->


    <div>
      <p class="d-flex flex-column align-items-center"> <%= cl_image_tag @transaction.user.photo.key, gravity: :face, crop: :thumb, class: "avatar-large"%> <b>Buyer</b> <%= @transaction.user.email %> </p>
    </div>


<!-- BIKE CARD -->

<div class="d-flex flex-column align-items-center p-3">
  <% if @transaction.bike.photos.any? %>
    <%= cl_image_tag @transaction.bike.photos.first.key, class: "col-sm-5 align-items-center"%>
    <% end %>
      <div class="d-flex text-center p-3">
        <h5 class="card-title"><%= @transaction.bike.title %></h5>
      </div>
      <div><p class="card-text"><%= @transaction.bike.description %></p>
        </div>
              <p> <% if current_user.id == @transaction.bike.user_id %>
              <%= link_to bike_path(@transaction.bike), method: :delete, data: { confirm: "Are you sure?" } do %>
              </p>
              <div>
              <p> <%= link_to "Return to bike list", bikes_path, class:"submit-button" %>
              </div>
            <% end %>
          <% end %>
        <div class="price_avatar d-flex flex-column align-items-end">
          <%= image_tag "avatar.png", :class => "card_avatar ", alt: "alttext" %></div>
          <div>
          <p class="text-center"> £<%=@transaction.bike.price %></>
          </div>

  </div>






<!-- BUYER INFO -->

    <div>
       <p class="d-flex flex-column align-items-center"> <%= cl_image_tag @transaction.bike.user.photo.key, gravity: :face, crop: :thumb, class: "avatar-large"%> <b>Seller</b> <%= @transaction.bike.user.email %> </p>
    </div>


  </div>
</div>

